# dependencies
*node_modules*

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# local env files
.env*.local

# python
**/__pycache__/

# env
.env
.venv
env/
venv/
